.container {
    width: 200px;
    height: 100vh;
    margin-left: 1rem;
    background-color: #171717;
    padding: 5px;
    text-align: left;
    position: fixed;
    left: 0; 
}

.container::after {
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    position: absolute;
    top: 0;
    right: -10px; 
    width: 5px; 
    height: 100%; 
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.img-perfil {
    border-radius: 50%;
    border: 3px solid #FF0000;
    padding: 3px;
    width: 5rem;
    display: block;
    margin: 1rem auto;
}

.username {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

.follow-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.follow-info p {
    color: #fff;
    font-size: 0.9rem;
}

.lista {
    text-align: left;
}

.lista ul {
    list-style: none;
    padding: 0;
}

.lista ul li {
    color: #fff;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}

.lista ul li i {
    margin-right: 0rem;
    flex-shrink: 0; 
}

.logout {  
    stroke: #fff;
    stroke-width: 0.156rem;
    margin-right: 0.6rem;
    width: 30px;
}

.icons {
    margin-right: 0.6rem;
    width: 30px;
}

.mensagem {  
    stroke: #fff;
    stroke-width: 0.2rem;
    margin-right: 0.6rem;
    width: 30px;
}