/* Estilos globais */
body.light, body.dark {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Login Box */
.login-box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cores */
body.light {
  --background: #fff;
  --text-color: #333;
  --input-background: #f7f7f7;
  --button-background: #ff1900; /* Vermelho */
  --button-hover: #e74c3c; /* Laranja */
}

body.dark {
  --background: #171717;
  --text-color: #ecf0f1;
  --input-background: #333;
  --button-background: #ff1900; /* Vermelho */
  --button-hover: #e74c3c; /* Laranja */
}

/* Logo */
.logo-container img {
  width: 100px;
  margin-bottom: 20px;
}

/* Títulos */
h2 {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* Campos de Entrada */
.input-group label {
  color: var(--text-color);
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background-color: var(--input-background);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: var(--text-color);
}

.input-group input:focus {
  border-color: var(--button-background);
  outline: none;
}

/* Botões */
.btn-login {
  width: 100%;
  padding: 10px;
  background-color: var(--button-background);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: var(--button-hover);
}

/* Botão Google */
.btn-google {
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn-google:hover {
  background-color: #357ae8;
}

.icon-google {
  margin-right: 10px;
}

/* Footer */
.login-footer {
  margin-top: 20px;
  text-align: center;
  color: var(--text-color);
}

.login-footer a {
  color: var(--button-background);
  cursor: pointer;
}

.login-footer a:hover {
  color: var(--button-hover);
}

/* Alternância de Tema */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.switch-label {
  margin-right: 10px;
  font-size: 18px;
  color: var(--text-color);
}

/* Ajuste para o fundo e a cor do texto em todo o conteúdo */
body.light {
  --background: #fff;
  --text-color: #333;
  --input-background: #f7f7f7;
  --button-background: #ff1900;
  --button-hover: #e74c3c;
}

body.dark {
  --background: #171717;
  --text-color: #ecf0f1;
  --input-background: #333;
  --button-background: #ff1900;
  --button-hover: #e74c3c;
}

body, .login-box {
  background-color: var(--background);
  color: var(--text-color);
}

