/* userConfig_comp.css */
.userConfig-main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10vh;
    padding: 30px;
    background-color: #1b1b1b;
    min-height: 100vh;
    color: #f0f0f0;
    overflow-y: auto; /* Allow vertical scrolling */
    width: 100%;
    box-sizing: border-box;
}

/* Estilo da lista de usuários */
.user-container {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    max-width: 350px;
    width: 100%;
}

.user-container li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #2c2c2c;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 0 10px #ff4500;
    border: 2px solid #ff4500;
    flex-direction: column;
    position: relative;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: left;
    justify-content: center;
    object-fit: cover;
    margin: 0 auto;
}

.userInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 10px;
}

.userInfo {
    color: #ccc;
    font-size: 16px;
}

.user-username {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.edit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.edit-button:hover {
    background-color: #ff5733;
    transform: translateY(-2px);
}

/* Estilo da pré-visualização de imagem */
.userImage-preview {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #444;
}

/* Estilo do formulário para editar usuário */
.addpost-form {
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    border-radius: 8px;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 0 10px #ff4500;
    border: 2px solid #ff4500;
}

.addpost-form label {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.addpost-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.addpost-form input:focus {
    border-color: #ff4500;
    outline: none;
}

/* Estilo do campo de upload de arquivo e URL da imagem */
.file-input-container {
    position: relative;
    margin-top: 10px;
}

.file-userconfig-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ff4500;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}


.file-input {
    display: none;
}

.image-url-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

/* Estilo da pré-visualização de imagem */
.image-preview {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #222;
}

.userConfig-warning {
    color: #ff4500;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}

.password-container {
    width: 100%;
    
}

.addpost-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    margin-bottom: 20px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.password-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.password-container input {
    flex-grow: 1;
    margin: 0;
}

.icon-eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #e50914;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    height: 70%;
}