.feed-main-container {
    max-width: 50%;
    padding: 2%;
    color: var(--color);
    overflow-y: auto;
}

.feed-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 5%;
}

.post-image-container {
    background-color: var(--background-alt);
}

.post-image {
    max-width: 100%;
    height: 480px;
    object-fit: contain;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post-description {
    margin-top: 1%;
    font-size: 14px;
    color: var(--color);
}

.post-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-owner {
    color: var(--highlight-color);
}

.post-img-perfil {
    border-radius: 50%;
    border: 1px solid #FF0000;
    padding: 3px;
    width: 2.8rem;
    height: 2.8rem;
    display: block;
    object-fit: cover;
}

.post-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.like-icon {
    color: #000; /* Preto no modo claro */
    cursor: pointer;
    transition: color 0.3s;
}

.like-icon.liked {
    color: #ff000d; /* Cor quando curtido */
}

.like-icon:hover {
    color: #e50914; /* Cor ao passar o mouse */
}

.comment-icon {
    color: #000; /* Preto no modo claro */
    cursor: pointer;
    transition: color 0.3s;
}

.comment-icon:hover {
    color: #e50914; /* Cor ao passar o mouse */
}

hr {
    margin-top: 5%;
    border-color: var(--highlight-color-light);
}

/* Estilo para modo escuro */
body[data-theme='dark'] .like-icon {
    color: white; /* Ícone de like branco no modo escuro */
}

body[data-theme='dark'] .comment-icon {
    color: white; /* Ícone de comentário branco no modo escuro */
}

/* Cor ao passar o mouse no modo escuro */
body[data-theme='dark'] .like-icon:hover {
    color: #e50914; /* Cor ao passar o mouse no modo escuro */
}

body[data-theme='dark'] .comment-icon:hover {
    color: #e50914; /* Cor ao passar o mouse no modo escuro */
}