input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
    -webkit-text-fill-color: #fff;
}

body.light input:-webkit-autofill,
body.light input:-webkit-autofill:hover,
body.light input:-webkit-autofill:focus,
body.light input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ccc inset !important;
    -webkit-text-fill-color: #1a1a1a;
}

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.login-box {
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
    border: #e50914 1px solid;
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo {
    width: 8.125rem;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
    width: 100%;
}

label {
    color: #fff;
    font-size: 0.9rem;
}

.icon-eye {
    fill: #e50914;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus {
    border: #fff 2.5px solid;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 10px rgba(229, 9, 20, 0.4);
}

.password-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.password-container input {
    flex: 1;
    margin-right: 0;
}

.btn-login {
    width: 100%;
    padding: 12px 15px;
    background-color: #ff000d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn-google {
    width: 100%;
    padding: 12px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-google {
    margin-right: 0.5rem;
    stroke: #000;
    stroke-width: 0.5px;
}

.login-footer {
    text-align: center;
    color: #888;
    margin-top: 1rem;
}

.login-footer a {
    color: #e50914;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Toastify__toast-container {
    font-family: 'Poppins', sans-serif;
}

.toast-success,
.toast-error,
.toast-warn,
.toast-info {
    background-color: #222 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
}

.toast-info {
    background-color: #2196f3 !important;
}

.Toastify__close-button {
    color: #fff !important;
}

body.light .login-box {
    background-color: #ffffff;
    border: #cccccc 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light h2 {
    color: #333;
}

body.light label {
    color: #666;
}

body.light input {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
}

body.light input:focus {
    border: #333 2.5px solid;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.8),
        0 0 10px rgba(102, 102, 102, 0.6),
        0 0 10px rgba(102, 102, 102, 0.4);
}

body.light .btn-google {
    background-color: #adadad;
    color: #333;
}

body.light .login-footer {
    color: #171717;
}

/* Estilos do switch de tema */
.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 50px;
}

.theme-text {
    font-size: 0.9rem;
    margin-right: 8px; /* Ajuste para espaçamento */
    transition: color 0.3s ease;
}

body.light .theme-text {
    color: #000;
}

body.dark .theme-text {
    color: #fff;
}