/* loginform.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
    -webkit-text-fill-color: #fff;
}

/* Tema Claro */
body.light input:-webkit-autofill,
body.light input:-webkit-autofill:hover,
body.light input:-webkit-autofill:focus,
body.light input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ccc inset !important;
    -webkit-text-fill-color: #1a1a1a;
}
* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.login-box,
.register-box {
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
    border: #e50914 1px solid;
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo {
    width: 8.125rem;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    color: #fff;
    font-size: 0.9rem;
}

.icon-eye {
    fill: #e50914;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    right: 2.313rem;
    position: relative;
    top: 0.5rem;
}

input {
    width: 100%; /* Garantir que o input ocupe 100% da largura do container */
    padding: 12px 15px; /* Padding consistente */
    border: 2px solid #444;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: #333;
    color: #fff;
    box-sizing: border-box; /* Inclui o padding no tamanho total */
    transition: all 0.3s ease; /* Transição suave */
}

input:focus {
    border: #fff 2.5px solid;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 10px rgba(229, 9, 20, 0.4);
    width: 100%; /* Mantém a largura consistente ao focar */
}

.password-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn-login {
    width: 100%;
    padding: 12px 15px;
    background-color: #ff000d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn-google {
    width: 100%;
    padding: 12px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-google {
    margin-right: 0.5rem;
    stroke: #000;
    stroke-width: 0.5px;
}

.login-footer {
    text-align: center;
    color: #888;
    margin-top: 1rem;
}

.login-footer a {
    color: #e50914;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Toastify__toast-container {
    font-family: 'Poppins', sans-serif;
}

.toast-success {
    background-color: #222 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
}

.toast-error {
    background-color: #222 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
}

.toast-warn {
    background-color: #222 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
}

.toast-info {
    background-color: #2196f3 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 8px;
}

.Toastify__close-button {
    color: #fff !important;
}

/* Tema Claro */
body.light .login-box {
    background-color: #ffffff;
    border: #cccccc 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light h2 {
    color: #333;
}

body.light label {
    color: #666;
}

body.light input {
    background-color: #f9f9f9;
    color: #333; /* Mudança para melhor contraste */
    border: 1px solid #ccc;
}

body.light input:focus {
    border: #333 2.5px solid;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.8),
        0 0 10px rgba(102, 102, 102, 0.6),
        0 0 10px rgba(102, 102, 102, 0.4);
}

body.light .btn-google {
    background-color: #adadad;
    color: #333;
}

body.light .login-footer {
    color: #171717;
}